.br-theme-css-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}

.br-theme-css-stars .br-widget a {
    text-decoration: none;
    height: 18px;
    width: 18px;
    float: left;
    font-size: 23px;
    margin-right: 5px;
}

.br-theme-css-stars .br-widget a:after {
    content: "\2605";
    color: #d2d2d2;
}

.br-theme-css-stars .br-widget a.br-active:after {
    color: #ffc600;
}

.br-theme-css-stars .br-widget a.br-selected:after {
    color: #ffc600;
}

.br-theme-css-stars .br-widget .br-current-rating {
    display: none;
}

.br-theme-css-stars .br-readonly a {
    cursor: default;
}

@media print {
    .br-theme-css-stars .br-widget a:after {
        content: "\2606";
        color: black;
    }

    .br-theme-css-stars .br-widget a.br-active:after,
    .br-theme-css-stars .br-widget a.br-selected:after {
        content: "\2605";
        color: black;
    }
}

.container-wrapper {
    background-color: #edf0f9;
}

/* .container {
    height: 100vh;
} */

.rating-wrapper {
    align-self: center;
    box-shadow: 7px 7px 25px rgba(198, 206, 237, .7), -7px -7px 35px rgba(255, 255, 255, .7), inset 0px 0px 4px rgba(255, 255, 255, .9), inset 7px 7px 15px rgba(198, 206, 237, .8);
    border-radius: 5rem;
    display: inline-flex;
    direction: rtl !important;
    padding: 1rem 2rem;
    margin-left: auto;
}

.rating-wrapper label {
    color: #e1e6f6;
    cursor: pointer;
    display: inline-flex;
    font-size: 2rem;
    padding: 1rem 0.6rem;
    transition: color 0.5s;
}

.rating-wrapper svg {
    -webkit-text-fill-color: transparent;
    -webkit-filter: drop-shadow 4px 1px 6px rgba(198, 206, 237, 1);
    filter: drop-shadow(5px 1px 3px rgba(198, 206, 237, 1));
}

.rating-wrapper input {
    height: 100%;
    width: 100%;
}

.rating-wrapper input {
    display: none;
}

.rating-wrapper label:hover,
.rating-wrapper label:hover~label,
.rating-wrapper input:checked~label {
    color: #ffc600;
}

.rating-wrapper label:hover,
.rating-wrapper label:hover~label,
.rating-wrapper input:checked~label {
    color: #ffc600;
}